.filter-header {
    font-size: 50%;
    margin: 10px;
    font-weight: bold;
}

.filter-container{
    border-bottom: 2px solid #eceff1;
    margin: 10px;
}

.filter-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2px;
}

.btn {
    border: 1px solid #eceff1;
    background-color: white;
    margin: 3px;
    /* width: 30%;
    height: 50%; */
    padding: 10px 10px;
    transition-duration: 0.1s;
}

.btn:hover {
    border-color: black;
}