.sidebar-container {
  background-color: white;
  height: 100vh;
  width: 450px;
  color: black;
  z-index: 57;
  /* box-sizing: border-box; */
  display: flex;
  /* flex: 0 0 430px; */
  flex-grow: 1;
  padding: 30px;
  font-family: AdihausDIN-Condia, Arial, Helvetica, sans-serif;
  flex-direction: column;
  font-size: 16px;
  position: sticky;
  top: 10px;
  bottom: 1px;
  /* -webkit-font-smoothing: antialiased; */
}

.sidebar-description {
  font: "AdihausDIN-Condia";
  width: 100%;
  margin-bottom: 0;
  display: flex;
  /* flex-flow: row;
    flex-wrap: wrap; */
}
.preHeader {
  display: flex;
  flex-wrap: wrap;
  min-height: 24px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-size: 16px;
}

.reviewCount {
  display: flex;
  font-weight: bold;
}

.productTitle {
  font-size: 30px;
  margin-top: 10px;
  font-weight: bold;
}

.priceWrapper {
  margin-top: 10px;
  display: flex;
  width: 100%;
  align-items: center;
}

.price {
  color: darkgray;
  margin-right: 5px;
}

.discountPrice {
  color: red;
  font-weight: bold;
}

.discountPrice::before {
  content: "\00a3";
}

.price::before {
  content: "\00a3";
  text-decoration: line-through;
}

.colorName {
  margin-top: 10px;
}

@media screen and (min-width: 1280px) {
  .sidebar-container {
    flex: 0 0 430px;
    /* max-width: 430px; */
  }
}

@media screen and (min-width: 960px) {
  .sidebar-container {
    display: block;
  }
}

.sideBarEmbellishments {
  margin-top: 40px;
  line-height: 22px;
  font-style: normal;
}

.heading {
  font-weight: bold;
}

.embellishDescription {
  margin-top: 10px;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  grid-column-gap: 10px;
}

.input {
  display: flex;
  border: 1px solid;
}

#leftShoeText {
  text-transform: uppercase;
}

#rightShoeText {
  text-transform: uppercase;
}

.inputBox {
  border: 1px solid transparent;
}

.input_label {
  color: #767677;
  left: 15px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(0-50%);
}

.inputBox {
  height: 45px;
}

.inputBoxContainer {
  position: relative;
}

.inputCount {
  margin-left: 10px;
}

.summary {
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}

.embellishPrice {
  font-weight: bold;
}

.clearButton {
  text-decoration: underline;
  margin-left: 100px;
}

/* ADD TO BAG */
#AddToBag {
  width: 100%;
  margin-top: 40px;
  display: flex;
}

.AddToBag {
  width: 100%;
  touch-action: manipulation;
  -webkit-tap-highlight-color: white;
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  border-color: black;
  height: 50px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 20px;
  transform: translate(-3px);
  align-items: center;
  position: relative;
  text-align: left;
}

.AddToBagTitle {
  margin-left: 15px;
  font-weight: bold;
  flex: 1 1 auto;
  text-overflow: ellipsis;
}
.rtarrowicon {
  height: 20px;
  width: 35px;
  margin-right: 15px;
}

.addToWishListContainer {
  margin-left: 10px;
  aspect-ratio: 1/1;
  align-items: center;
  background-color: white;
  border-color: black;
  border: 1px solid;
  cursor: pointer;
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  flex-basis: auto;
}

.favContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}
