#mid-footer {
  display: flex;
  justify-content: space-around;
}
#mid-footer h5 {
  margin-top: 15px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}
.footer-item {
  padding: 5px;
  list-style-type: none;
}
.footer-item a {
  color: black;
  text-decoration: none;
  font-size: 0.85rem;
  padding-right: 30px;
}
.footer-item a:hover {
  text-decoration: underline;
}
